{
  "sap": {
    "host": "",
    "port": "",
    "username": "",
    "password": "",
    "bank": {
      "country": "",
      "bankId": ""
    },
    "client": int,
    "xCSRFToken": ""
  },
  "salesforce": {
    "clientId": "",
    "clientSecret": "",
    "grantType": "password",
    "username": "",
    "password": "",
    "loginUrl": "https://login.salesforce.com/services/oauth2/token"
  }
}
